@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
}

body{
    background-color: #333;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 320px;
    min-height: 500px;
}

header{
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1.1em;
    margin: 5px;
    user-select: none;
}
header img{
    width: 25px;
    margin: 0 5px;
}


#chart{
    margin-top: 15px;
    margin-bottom: 25px;
    position: relative;
}

#timeUsage{
    width: 68%;
    margin-left: 16%;
    margin-bottom: -220px;
}

#siteChart{
    transition: all 0.25s ease-in-out;
}

#siteChart:hover{
    transform: scale(1.03);
}


#total{
    font-size: 17px;
    letter-spacing: 0.5px;
    position: absolute;
    top: 92px;
    left: 134px;
}


#details_head{
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(255,255,255,0.07) 100%);
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 0.8px;
    padding: 10px 12px;
    margin: 0 15px;
    margin-bottom: -168px;
    height: 180px;
}


/* ANALYTICS Website details */
#analytics{
    height: 204px;
    margin: 0 20px;
    margin-bottom: 38px;
    padding: 10px 15px 0px 15px;
    overflow-y: scroll;
}

#noData{
    width: 100%;
    margin-bottom: 12px;
}

.siteDetails{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 12px 14px 12px 12px;
    user-select: none;
    margin-bottom: 16px;
    transition: all 0.25s ease-in-out;
}

.siteDetails:hover{
    transform: scale(1.04);
}

.favIcon{
    width: 24px;
}

.detailsParent{
    width: 188px;
    margin-left: 8px;
}

.details{
    display: flex;
    font-size: 13px;
    font-weight: 500;
    justify-content: space-between;
}

.siteName{
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.hourProgress{
    height: 5px;
    box-shadow: 0 0 2px rgb(240, 240, 240);
    border-radius: 5px;
    margin-top: 6px;
}



footer{
    background-color: rgba(255, 255, 255, 0.07);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: monospace;
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer a{
    color: cyan;
    text-decoration: none;
}
footer a:hover{
    text-shadow: 0 0 10px cyan;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 4px;
  }

::-webkit-scrollbar-thumb {
background: rgba(146, 146, 146, 0.2);
border-radius: 8px;
}
